<div class="flex flex-col justify-center h-screen items-center gap-4">
  <p class="font-black">itaN Budget</p>

  <div class="hover:underline p-3 px-5"><%= link_to 'Log in', new_user_session_path%></div>
  <div class=" bg-blue-700 text-white p-3 px-5"><%= link_to 'Sign up', new_user_registration_path%></div>
</div>
