<div class="w-full">
  <div class="bg-blue-700 text-white flex justify-center p-3">
    <p class="font-bold text-xl">Categories</p>
  </div>
  <div>
    <% @category.each do |me|%>
    <%= link_to transactions_path(me.id), class:'flex items-center bg-white m-2 gap-3 text-lg h-16' do%>
      <%= image_tag me.icon, class: "h-14" %>
      <%= me.name %>
    <%end%>
    <%end%>
  </div>
</div>
<div class="bg-blue-700 text-white p-3 mx-14 flex justify-center mt-3">
    <%= link_to 'Add a new category', new_category_path%>
  </div>
